.advanced1 {
    font-size: 130%;
    font-weight: 450;
    margin-left: 40px;
    font-style: inherit;
    color: #d93025;
    margin-top: 30px;
}

.line {
    border-bottom: 1px solid #ebebeb;
    padding-top: 15px;
}

.header-advanced-logo {
    padding-left: 20px;
    padding-top: 20px;
}

.form-container {
    display: grid;
    grid-template-columns: 200px 2fr 1fr;
    padding: 50px;
    gap: 20px;

    .col1 {
        display: grid;
        grid-template-rows: auto;
        gap: 20px;
    }

    .col2 {
        display: grid;
        grid-template-rows: auto;
        gap: 20px;
    }

    .col3 {
        display: grid;
        grid-template-rows: auto;
        gap: 20px;
    }
    

label {
    color: rgb(104, 88, 88);      
}

.explanation {
    font-size: 70%;
    font-weight: 500;
    color: rgb(104, 88, 88);
    padding-left: 10px;
}

.advance {
    color: rgb(248, 245, 245);
    background-color: rgb(71, 71, 236);
    border: none;
    outline: none;
}

}