.advanced1 {
    font-size: 130%;
    font-weight: 450;
    margin-left: 40px;
    font-style: inherit;
    color: #d93025;
    margin-top: 30px;
}

.line {
    border-bottom: 1px solid #ebebeb;
    padding-top: 15px;
}

.header-advanced-logo {
    padding-left: 20px;
    padding-top: 20px;
}

.advanced_container {
    margin: 45px 45px;

    label {
        display: inline-block;
        width: 16%;
        font-weight: 500;
        color: rgb(104, 88, 88);
        
    }

    .blank_space {
        display: inline-block;
        width: 50%;
    }

    .form-row {
        align-items: center;
        margin-top: 10px;

        .form_label {
            display: inline-block;
            width: 16%;
            font-size: 90%; 
        }

        input[type="text"] {
            width: 50%;
        }

        .explanation {
            font-size: 70%;
            font-weight: 500;
            color: rgb(104, 88, 88);
            padding-left: 10px;
            display:inline;
        }

        .monospace {
            font-family: monospace;
            font-size: 80%;
        }

        .right-align {
            width: 12%;
            position: relative;
            height: 30px;
            float: right;
            margin-right: 410px;
            .advance {
                color: rgb(248, 245, 245);
                background-color: rgb(71, 71, 236);
                border: none;
                outline: none;
    
            }
        }
    }
}
